node_modules/
 auth:"zeno1:a6d6253214260e0228c1c618f22fca0a-us9,
    auth:"updated api:b3cbf06bc380f93d8be3898afd99cfac-us9",
     const url = "https://us9.api.mailchimp.com/3.0/lists/5db8f650ff",
     .const url,